body{
  background-color: #e5989b;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
  background-color: #6d6875;
  height: 120px;
}

nav{
  width: 100%;
  margin: auto;
}

nav img{
  margin: 10px;
  float: left;
  height: 100px;
  width: 100px;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

#header li{
  margin-top: 40px;
}

a{
  text-decoration: none;
  color: #b5838d;
  font-size: 50px;
}

main{
  margin: auto;
}

#leftFish{
  height: 150px;
  width: 350px;
}

#rightFish{
  height: 150px;
  width: 350px;
}

h1{
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0px;
}

h1 p{
  margin: 15px;
  display: flex;
  align-items: center;
  color: #6d6875;
  font-size: 100px;
}

h2{
  text-align: center;
  color: #6d6875;
  font-size: 40px;
  font-weight: 200;
}

section{
display: flex;
justify-content: space-evenly;
}

#hours{
  display: flex;
}

#hoursImg{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#sales{
  margin-top: 50px;
  margin-bottom: 50px;
}

#sales p{
  text-align: center;
  color: #6d6875;
  font-size: 70px;
  font-weight: 200;
}

#cutter{
  height: 100px;
  width: 100px;
}

#family{
  height: 100px;
  width: 100px;
}

#cookie{
  height: 100px;
  width: 100px;
}

#shirt{
  height: 100px;
  width: 100px;
}

footer{
  width: 100%;
  margin: auto;
  background-color: #6d6875;
  height: 30px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

footer p{
  padding-left: 10px;
}

/* Table styling */
table{
  background-color: #6d6875;
  margin: auto;
  padding: 5px;
  border: 5px solid #ffcdb2;
  border-collapse: collapse;
}

thead{
  margin: 5px;
  padding: 5px;
  border: 5px solid #ffcdb2;
}

tbody{
  margin: 5px;
  padding: 5px;
  border: 5px solid #ffcdb2;
}

tfoot{
  margin: 5px;
  padding: 5px;
  border: 5px solid #ffcdb2;
}

th{
  margin: 5px;
  padding: 10px;
  border: 5px solid #ffcdb2;
  color: #ffb4a2;
}

td{
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 3px solid #ffcdb2;
  color: #ffb4a2;
}